.App-main{ 
  padding-left:5px; padding-right:5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
  'header header'
  'panel_menu panel_mails';
  height: 100vh
}

.App-header{
  background-color: rgb(176, 162, 255);
  padding:10px;
  grid-area: header;
  border: 1px solid rgb(20, 17, 17);
  
}

.App-panel-menu{
  padding:5px;
  min-width: 135px;
  grid-area:panel_menu;
  border-left: 1px solid rgb(20, 17, 17);
  border-right: 1px solid rgb(20, 17, 17);
  display: flex;
  flex-direction: column;
  Justify-content:flex-start;
}

.App-panel-mails{
  grid-area: panel_mails;
}

.AddButton{
  background-color: rgb(176, 162, 255);
  height: 28px;
  margin-bottom: 5px;

}
